@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
    font-family: 'Inter';
    font-size: 24px;
    background-color: black;
    color: #FFFFFF;
}

.box {
    margin: 90px 60px;
    

}

.userInput {
    display: inline-block;
    /* background-origin: padding-box; */
    justify-content: space-around;
    
    
}

#dropdown {
    width: 196px;
    height: 58px;
    margin: 40px 0px;
}

.btn {
    width: 226px;
    height: 58px;
    color: rgb(13, 0, 0);
    background-color: #FFFFFF;
    margin: 30px 0px;
    margin-bottom: 70px;
}

#newuser {
    margin-top: 35px;
}
#tejeel {
margin-top: 55px;
}